body {
  background-color: var(--background);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* Light mode */
body {
  background-image: url('/environment2-light.png');
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-image: url('/environment2-dark.png');
  }
}